@import url("https://fonts.googleapis.com/css?family=Lato|Supermercado+One");

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {
  font-family: sans-serif;
  font-size: 10px;
}
body {
  background-image: url("./img/map-bg.jpg");
  @font-face {
    font-family: "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"),url("https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2");
        format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
}
#main {
  width: 900px;
  margin: 10px auto;
}

/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
h1 {
  margin-bottom: 30px;
  font-family: "Supermercado One";
  font-size: 45px;
  color: #5d4037;
  font-style: normal;
  font-weight: 400;
  src: local("Supermercado One Regular"), local("SupermercadoOne-Regular"),
    url("https://fonts.gstatic.com/s/supermercadoone/v9/OpNXnpQWg8jc_xps_Gi14kVVEXOn20H9MQtCVTo.woff2");
      format:("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {
  columns: 400px 2;
  column-gap: 100px;
  column-rule: 2px dashed rosybrown;
}
/* section #starters{
    position: relative; left:30px top:10 px;
} */

/* #soupsandsalad{
    margin-top: 50px;
} */

/* section h2 {
  margin-top: 50px; */

/* #starters{
  margin-bottom: 50px; */

/* section{
  margin-bottom: 50px;
} */

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
  color: #5d4037;
  font-variant: small-caps;
  margin: 0;
}

/* Make the name of each menu item appear in bold in a 20px size. */

dt {
  font-weight: 900;
}

dd {
  margin: 0 0 12px;
  display: flex;
}

.details {
  order: 1;
}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {
  order: 2;
  padding-left: 10px;
  color: firebrick;
}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {
  padding: 10px;
}

footer {
  border: 2px dashed rosybrown;
  
}
